.character {
    display: flex;
    scale: 100%;
    width:30%;
    overflow-x: hidden;
    white-space: nowrap;
    position: absolute;
    top: 65%;
    left: 65%;
    transform: translate(-50%, -100%);
    z-index: 1;
   }